<div class="row col-md-offset-1">

	<% // Create a plant view for each registered plant
	plants.each(function(plant) {
	%>
	<div class="col-md-4 plant">
		<img class="img-rounded" width="100%" <%= imgs.attr(plant.id)? 'src="' + imgs.attr(plant.id) + '"' : '' %> alt="Bilde av en plante" />

		<ul>
			<li class="plant-attribute main-attribute"><%= plant.attr('name') %></li>
			<li class="plant-attribute"><%= plant.attr('plant_type') %></li>
			<li class="plant-attribute"><%= plant.attr('location') %></li>
		</ul>

		<button class="btn btn-default"><%== can.route.link("Se mer", {plantId : plant.attr('id')}) %>
		</button>

	</div>
	<% }); %>

</div>
